APP_PORT=3016
NODE_ENV=development

PGHOST=localhost
PGPORT=5435
PGUSER=ecotrack_user
PGPASSWORD=ecotrack_password
PGDATABASE=ecotrack

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=change_me_in_production_access_secret
LOG_LEVEL=debug
KAFKA_BROKERS=localhost:9092
KAFKAJS_NO_PARTITIONER_WARNING=1
